body {
  width: 99%
}

#header-name {
  background-color: #66ccff;
}

#description {
  position: absolute;
}

#name {
  font-size: 450%;
  padding-left: 0.3em;
  margin: 0 0 0
}

#bridge-text-div {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#bridge {
  width: 100.85%;
  height: auto;
}

#main-text{
  position: absolute;
  top: 6em;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5em;
  width: 50%;
  font-size: xx-large;
}

.skill-title{
  padding-left: 1em;
}

#github-repos-and-pic{
  background-color: #66ccff;
}

#github-repos-title{
  padding-left: 1em;
}

#repos-unordered-list{
  list-style-type: decimal;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  padding:right: 5em;
  clear: both;
}

#personal-shot{
  vertical-align: middle;
  width: 70%;
  float: right;
  padding-top: 2em;
  padding-bottom: 2em;
}

.repository-li{
  font-size: 1.5em;
}

.personal-links{
  font-size: 1.5em;
}

.repository-li a {
  color: #787878;
}

#personal-links-div {
  padding-left: 2em;
  text-align:right;
}

#available-text{
  padding-bottom: 0.5em;
}

@media screen and (max-height: 700px) and (orientation:portrait) {

  #header-name {
    background-color: #66ccff;
    height: 13em;
  }

  #name {
    padding-left: 0.3em;
    text-align: justify;
    margin: 0 0 0;
  }

  #bridge-text-div {
    width: 100%;
    position: relative;
    overflow: hidden
  }

  #bridge {
    width: 224%;
    height: auto;
  }

  #main-text {
    position: absolute;
    top: 4em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    width: 64%;
    font-size: medium;
  }

  #github-repos-title {
    padding-left: 1.9em;
}

  #repos-unordered-list{
    list-style-type: decimal;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-position: inside;
    float: right;
    clear: both;
    padding-right: 2.8em;
  }

  .repository-li{
    font-size: 1.3em;
  }

  .personal-links{
    font-size: 1.3em;
  }

  #personal-links-div{
      padding-left: none;
      top: 2em;
      text-align:center;
  }

  #personal-shot{
    width:40%;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-left: 1em;
  }

  body {
    width: 96%;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  #main-text{
    top: 5.5em;
    width: 67%;
    font-size: medium;
  }

  #github-repos-title{
    padding-left: 0em;
    text-align: center;
  }

  #repos-unordered-list {
    list-style-type: decimal;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    clear: both;
    padding-left: 1.5em;
  }

  #personal-links-div {
    padding-left: 2em;
    text-align: center;
  }

  #personal-shot{
    display: block;
    width: 20%;
    position: relative;
    right: 17.6em;
  }
}
