body {
  width: 99%
}

#header-name {
  background-color: #40d7a4;
}

#strip-below-header {
  background-color: black;
  height: 0.4em
}

#description {
  position: absolute;
}

#name {
  font-size: 450%;
  padding-left: 0.3em;
  margin: 0 0 0
}

#bridge-text-div {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#bridge {
  width: 100.85%;
  height: auto;
}

#main-text{
  position: absolute;
  top: 13em;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5em;
  width: 50%;
  font-size: xx-large;
}

@media screen and (orientation:portrait) {

  #header-name {
    background-color: #40d7a4;
    height: 13em;
  }

  #name {
    padding-left: 0.3em;
    text-align: justify;
    margin: 0 0 0;
  }

  #bridge-text-div {
    width: 100%;
    position: relative;
    overflow: hidden
  }

  #bridge {
    width: 224%;
    height: auto;
  }

  #main-text {
    position: absolute;
    top: 4em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    width: 64%;
    font-size: medium;
  }

  body {
    width: 96%
  }
}
